@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-400;
}

h1,
h2 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}

a {
  @apply border-b border-blue-700 bg-black px-1 transition-colors;
  @apply hover:border-blue-600 hover:bg-black/50 hover:text-gray-300;
}

.card {
  @apply rounded-lg bg-black/30 p-8;
}

.card--compact {
  @apply p-0;
}

.card--popover {
  @apply z-10 border border-black shadow ring ring-blue-500 backdrop-blur;
}

.button {
  @apply cursor-pointer;
  @apply rounded border-2 border-gray-700 bg-black px-2 py-1 transition-colors;
  @apply hover:border-gray-300 active:shadow-inner active:ring;
}

.button--rect {
  @apply rounded-none;
}

.button[disabled] {
  opacity: 0.5;
  @apply cursor-auto;
  @apply hover:border-gray-700 active:shadow-none active:ring-0;
}

.button--cta {
  @apply border-blue-300 bg-blue-500 text-white;
  @apply hover:border-blue-400 hover:bg-blue-600;
}

.button--cta[disabled] {
  opacity: 0.5;
  @apply hover:border-blue-300 hover:bg-blue-500;
}

.button--toggled {
  @apply border-blue-300 bg-blue-700 text-white;
  @apply hover:border-blue-400 hover:bg-blue-600;
}

.button--toggled[disabled] {
  opacity: 0.5;
  @apply hover:border-blue-300 hover:bg-blue-700;
}

.input {
  @apply border border-gray-700 bg-gray-900 px-2 py-1 shadow-inner outline-none transition-colors;
  @apply focus:border-gray-300 focus:bg-black/30 focus:text-gray-100;
}

.tooltip {
  --tooltip-arrow-height: 0.5rem;
  @apply absolute z-10 rounded bg-black px-1 text-white;
  transform: translateX(50%)
    translateY(calc(-100% - var(--tooltip-arrow-height)));
}

.tooltip:after {
  @apply border-black;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: var(--tooltip-arrow-height);
  bottom: calc(-2 * var(--tooltip-arrow-height));
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

.table {
  @apply w-full table-auto border-collapse;
}

.table thead {
  @apply sticky left-0 top-0 w-full bg-black;
}

.table thead .table__row {
  @apply bg-black;
}

.table__row:nth-child(odd) {
  @apply bg-gray-900;
}

.table__row {
  @apply border-b border-gray-800;
  @apply hover:bg-black/30;
}

.table__row td,
th {
  @apply px-2 text-left;
}
